%br
%br
= form_for @workout do |f|
  - if @workout.errors.any?
    #error_explanation
      %h2= "#{pluralize(@workout.errors.count, "error")}" + t('.error')
      %ul
        - @workout.errors.full_messages.each do |message|
          %li= message

  -#Form to enter new workout
  %form{'action' => '/action_page.php'}
    .col-xs-3
      .form-group
        = f.label :name
        = f.text_field :name, class: 'form-control'
      .form-group
        = f.label :fitness_goal
        = select_tag :fitness_goal, options_for_select(["General Fitness", "Endurance", "Muscle Mass", "Muscle Strength"], params[:fitness_goal])
      .form-group
        = f.submit t('crud.save'), class: 'btn btn-default'
