
= form_for @exercise do |f|
  - if @exercise.errors.any?
    #error_explanation
      %h2= "#{pluralize(@exercise.errors.count, "error")}" + t('.error')
      %ul
        - @exercise.errors.full_messages.each do |message|
          %li= message

  -#Form to enter new exercise
  %form{'action' => '/action_page.php'}
    .col-xs-3
      .form-group
        = f.hidden_field :workout_id, value: @exercise.workout.id, class: 'form-control'
      .form-group
        = f.hidden_field :title, value: @exercise.title, class: 'form-control'
      .form-group
        = f.hidden_field :category, value: @exercise.category, class: 'form-control'
      .form-group
        = f.hidden_field :description, value: @exercise.description, class: 'form-control'
      .form-group
        = f.hidden_field :equipment, value: @exercise.equipment, class: 'form-control'
      .form-group
        = f.submit t('crud.save'), class: 'btn btn-default'
