= form_for @logged_workout do |f|
  - if @logged_workout.errors.any?
    #error_explanation
      %h2= "#{pluralize(@logged_workout.errors.count, "error")} prohibited this logged_workout from being saved:"
      %ul
        - @logged_workout.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :start_time
    = f.datetime_select :start_time
  .actions
    = f.submit 'Save'
