<<<<<<< Updated upstream
%h2= t('.title')

%br
= form_for @logged_workout do |f|
  - if @logged_workout.errors.any?
    #error_explanation
      %h2= "#{pluralize(@logged_workout.errors.count, "error")}" + t('.error')
      %ul
        - @logged_workout.errors.full_messages.each do |message|
          %li= message

  -#Form to enter new workout
  %form{'action' => '/action_page.php'}
    .col-xs-3
      .form-group
        = f.label :name
        = f.text_field :name, class: 'form-control'
      .form-group
        = f.submit t('crud.save'), class: 'btn btn-default'
=======
%h1 Editing logged_workout

= render 'form'

= link_to 'Show', @logged_workout
\|
= link_to 'Back', logged_workouts_path
>>>>>>> Stashed changes
