%h1 Listing logged_workouts

%table
  %thead
    %tr
      %th Name
      %th Start time
      %th
      %th
      %th

  %tbody
    - @logged_workouts.each do |logged_workout|
      %tr
        %td= logged_workout.name
        %td= logged_workout.start_time
        %td= link_to 'Show', logged_workout
        %td= link_to 'Edit', edit_logged_workout_path(logged_workout)
        %td= link_to 'Destroy', logged_workout, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Logged workout', new_logged_workout_path
