%p#notice= notice

%p
  %b Name:
  = @logged_workout.name
%p
  %b Start time:
  = @logged_workout.start_time

= link_to 'Edit', edit_logged_workout_path(@logged_workout)
\|
= link_to 'Back', logged_workouts_path
